label {
    pointer-events: none;
}

.home {
    max-width: 1024px;
    margin: auto;
    .service_title {
        p {
            color: #5C3E3C;
            text-align: left;
            padding-left: 80px;
            margin: 0;
            &.main_title {
                font-family: 'Poppins-Bold';
                font-size: 32px;
                @media (max-width: 600px) {
                    font-size: 25px;
                }
                padding-top: 17vh;
            }
            &.sub_title {
                font-family: 'Poppins-Medium';
                font-size: 24px;
            }
            span {
                color: #F27A2D;
            }
        }
    }
}

.service_list {
    width: 75%;
    @media (max-width: 798px) {
        width: 90%;
        padding-top: 50px;
    }
    margin: auto;
    display: flex;
    .container {
        .hourly, .daily, .monthly, .conference {
            cursor: pointer;
            &.entered {
                .content {
                    label {
                        color: #ffffff;
                    }
                }
            }
            position: relative;
            .content {
                .hourly_text, .daily_text, .monthly_text, .conference_text {
                    font-family: 'Poppins-Bold';
                    font-size: 36px;
                    color:#707070;
                    position: absolute;
                    left: 15%;
                    top: 18%;
                }
                .stay_text {
                    font-family: 'Poppins-Bold';
                    font-size: 36px;
                    color:#707070;
                    position: absolute;
                    left: 15%;
                    top: 33%;
                }
            }
            .stay_option {
                width: 140px;
                display: flex;
                align-items: center;
                top: 60%;
                left: 15%;
                position: absolute;
                pointer-events: none;
                img {
                    width: 140px;
                }
                p {
                    font-size: 16px;
                    font-family: 'Poppins-Medium';
                    color: #ffffff;
                    position: absolute;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}