.App-logo {
  padding-top: 15vh;
  pointer-events: none;
}

.circles {
  position: absolute;
  width: 100%;
  display: flex;
  overflow: hidden;
  z-index: -1;
  .circle {
    width: 50%;
    &.left {
      text-align: left;
      padding-top: 30px;
      img {
        margin-left: -150px;
      }
    }
    &.right {
      text-align: right;
      padding-top: 50px;
      img {
        margin-right: -150px;
      }
      
    }
  }
}

.breadcrumb {
  display: flex;
  padding-top: 7vh;
  .node {
      display: flex;
      align-items: center;
      cursor: pointer;
      label {
          font-size: 18px;
          @media (max-width: 450px) {
              font-size: 12px;
          }
          color: #707070;
          font-family: 'Poppins-Regular';
      }
      &.current {
          label {
              color: #F27A2D;
              font-family: 'Poppins-SemiBold';
          }
      }
  }
}

.welcome-title {
  font-family: 'Poppins-Regular';
  color: #5C3E3C;
  padding: 8% 0 5%;
  p {
    margin: 0;
  }
  .welcome {
    font-size: 55px;
    @media (max-width: 798px) {
      font-size: 40px;
    }
    @media (max-width: 600px) {
      font-size: 30px;
    }
    @media (max-width: 450px) {
      font-size: 23px;
    }
    @media (max-width: 360px) {
      font-size: 20px;
    }
    .app-name {
      font-family: 'Poppins-Bold';
    }
  }
  .sub-welcome {
    font-size: 30px;
    @media (max-width: 600px) {
      font-size: 25px;
    }
    @media (max-width: 450px) {
      font-size: 20px;
    }
    @media (max-width: 360px) {
      font-size: 15px;
    }
  }
}

.home_start {
  .btn.start {
    border: none;
    outline:none;
    background: rgba(0, 0, 0, 0);
    position: relative;
    &:hover {
      cursor: pointer;
    }
    img {
      width: 195px;
      pointer-events: none;
    }
    .btn.title {
      width: 100%;
      height: 100%;
      position: absolute;
      left: -10px;
      font-size: 20px;
      font-family: 'Poppins-Bold';
      color: white;
      padding: 14px 0 0;
      pointer-events: none;
    }
  }
}

.bottoms {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  overflow: hidden;
  z-index: -1;
  .bottom {
    display: flex;
    width: 50%;
    &.left {
      justify-content: flex-start;
      text-align: left;
      @media (max-width: 600px) {
        display: none;
      }
      img {
        margin-left: -480px;
      }
    }
    &.right {
      justify-content: flex-end;
      text-align: right;
      img {
        margin-right: -500px;
      }
      
    }
  }
}